{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  {% if user.is_authenticated and user.is_staff and perms.tickets %}
    <link rel="stylesheet" href="{% static 'tickets/assistant.css' %}">
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% if user.is_authenticated and user.is_staff and perms.tickets %}
    <script src="{% static 'tickets/assistant_context.js' %}" defer></script>
    <script src="{% static 'tickets/assistant.js' %}" defer></script>
  {% endif %}
{% endblock %}

{% block extrabody %}
  {{ block.super }}
  {% if user.is_authenticated and user.is_staff and perms.tickets %}
    {% include "admin/tickets/_assistant.html" %}
  {% endif %}
{% endblock %}
